<% if resource.errors.any? %>
  <div class="designed-forms mb-3" id="error_explanation" data-turbo-cache="false">
    <h5>
      <% I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h5>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
