<!--サイト名-->
<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="display-2 font-weight-small gray-underline"><span style="color:#00b000;">T</span>ell<span style="color:#ff91bb;">T</span>one</h1>
  </div>
</div>

<!--余白-->
<div class="py-4"></div>

<!--サイト説明-->
<div class="row">
  <div class="col-md-12 text-center">
    <h5>
      TellToneは、創作活動を楽しむ人のためのSNSです。</br>
      作品を鑑賞したり、投稿したりして生まれた気持ちを、</br>
      皆さんで共有しましょう！
    </h5>
  </div>
</div>

<!--余白-->
<div class="py-3"></div>

<!--ログイン・新規登録画面リンク-->
<div class="row justify-content-center">
  <div class="btn-group btn-group-md">
    <%= link_to "ログイン", new_user_session_path, class: 'btn btn-outline-success' %>　<%= link_to "新規登録", new_user_registration_path, class: 'btn btn-outline-secondary pink-btn' %>
  </div>
</div>